@using FashionBrowser.Domain.ViewModels;
@using FashionBrowser.Utilities;
@model CheckoutItemViewModel;
@{
    Layout = "_Layout";
}
<link href="~/css/checkout.css" rel="stylesheet" />
@{
    var shipping = SHIPPING_FEE.SHIPPING;
    var subTotal = @Model.CartViewModel.Total;
    var total = subTotal + shipping;
    Model.OrderItem.TotalPrice = total;
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">Order Confirmation</li>
</ol>

<section class="order_details section-margin--small">
    <form asp-action="CreateOrder" asp-controller="Checkout" method="post" enctype="multipart/form-data">
        <div class="container">
            @*<p class="text-center billing-alert">Thank you. Your order has been received.</p>*@
            <div class="row mb-5">
                <div class="col-md-6 col-xl-6 mb-4 mb-xl-0">
                    <div class="confirmation-card">
                        <h3 class="billing-title">Order Info</h3>

                        <input asp-for="@Model.UserItemViewModel.LastName" type="hidden" />
                        <input asp-for="@Model.UserItemViewModel.FirstName" type="hidden" />
                        <input asp-for="@Model.UserItemViewModel.Email" type="hidden" />
                        <input asp-for="@Model.UserItemViewModel.PhoneNumber" type="hidden" />
                        <input asp-for="@Model.OrderItem.Id" type="hidden" />
                        <input asp-for="@Model.OrderItem.OrderDate" type="hidden" />
                        <input asp-for="@Model.OrderItem.ShipAddress" type="hidden" />
                        <input asp-for="@Model.OrderItem.UserId" type="hidden" />
                        <input asp-for="@Model.IsCardCreditPay" type="hidden" />
                        <input asp-for="@Model.OrderItem.TotalPrice" type="hidden" />
                        <table class="order-rable">
                            <tbody style="color:black">
                                <tr>
                                    <td>Order Date</td>
                                    <td>: @Model.OrderItem.OrderDate.ToString("dddd, dd MMMM yyyy")</td>
                                </tr>
                                <tr>
                                    <td>Order Time</td>
                                    <td>: @Model.OrderItem.OrderDate.ToLongTimeString()</td>
                                </tr>
                                <tr>
                                    <td>Total Product Price</td>
                                    <td style="font-weight:600">: @Model.CartViewModel.Total.GetPriceFormat()</td>
                                </tr>
                                <tr>
                                   
                                    @if(Model.OrderItem.TotalPrice > 1000000)
                                    {
                                        <td style="text-decoration:line-through; text-decoration-color: red">Shipping Fee</td>
                                        <td style="text-decoration:line-through; text-decoration-color: red">: @SHIPPING_FEE.SHIPPING.GetPriceFormat()</td>
                                    }
                                    else
                                    {
                                        <td>Shipping Fee</td>
                                        <td>: @SHIPPING_FEE.SHIPPING.GetPriceFormat()</td>
                                    }
                                    
                                </tr>
                                <tr>
                                    @if (Model.IsCardCreditPay)
                                    {
                                        <td>Pay Menthod</td>
                                        <td style="font-size: 18px; font-weight:600; color:#1877f2">: Credit Card VNPAY</td>
                                    }
                                    else
                                    {
                                        <td>Pay Menthod</td>
                                        <td style="font-size: 18px; font-weight:600; color:#cd1817">: COD</td>
                                    }

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 mb-4 mb-xl-0">
                    <div class="confirmation-card">
                        <h3 class="billing-title">Shipping Address</h3>
                        <table class="order-rable">
                            <tbody style="color:black">
                                <tr>
                                    <td>Name :</td>
                                    <td>:  @Model.UserItemViewModel.Name</td>
                                </tr>
                                <tr>
                                    <td>Address</td>                                 
                                    <td style="font-size:15px">:  @Model.UserItemViewModel.Address</td>                                   
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>:  @Model.UserItemViewModel.PhoneNumber</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>:  @Model.UserItemViewModel.Email</td>
                                </tr>
                                <tr>
                                    <td>Shipping Method</td>
                                    <td>:  International express shipping</td>
                                </tr>
                                <tr>                                   
                                    <td>Paid Status :</td>
                                    <td>
                                        <i class="bi bi-hourglass-split" style="font-weight:500; font-size:20px;
                                        color: indianred">
                                            Waiting ....
                                        </i>
                                    </td>                                                                                                            
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="order_details_table">
                <h2>Order Details</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Image</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var cartItem in Model.CartViewModel.ListCartItem)
                            {
                                <tr>
                                    <td>
                                        <p>@cartItem.Product.Name</p>
                                    </td>
                                    <td>
                                        <img class="card-img" src="@cartItem.Product.ImageUrl"
                                             style="width:90px" alt="">
                                    </td>
                                    <td>
                                        <p>@cartItem.Product.Price.GetPriceFormat()</p>
                                    </td>
                                    <td>
                                        <h5>x @cartItem.Quantity</h5>
                                    </td>
                                    <td>
                                        <p>@cartItem.Price.GetPriceFormat()</p>
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td>
                                    <h4>Product Amount</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td style="font-weight:600">
                                    <p>@Model.CartViewModel.Total.GetPriceFormat()</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>SubTotal</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p style="font-weight:600">
                                        @subTotal.GetPriceFormat()
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                @if (Model.OrderItem.TotalPrice > 1000000)
                                {
                                    <td style="text-decoration: line-through; color:red">
                                        <h4>Shipping</h4>
                                    </td>
                                    <td>
                                        <h5></h5>
                                    </td>
                                    <td style="text-decoration: line-through; color:red">
                                        <p style="font-size:15px">Flat rate: @shipping.GetPriceFormat()</p>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <h4>Shipping</h4>
                                    </td>
                                    <td>
                                        <h5></h5>
                                    </td>
                                    <td>
                                        <p style="font-size:15px">Flat rate: @shipping.GetPriceFormat()</p>
                                    </td>
                                }

                            </tr>
                            <tr>
                                <td>
                                    <h4>Total</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>

                                <td>
                                    <h4 style="font-weight:700; font-size:17px">@total.GetPriceFormat()</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @if(Model.IsCardCreditPay)
                {
                    <div class="text-center col-md-3 " style="display:flex; float:right">
                        <button formaction="@Url.ActionLink("CreatePaymentUrl", "Checkout")"
                                class="button button-paypal">
                            Pay Now
                        </button>
                    </div>
                }
                else
                {
                    <div class="text-center col-md-3 " style="display:flex; float:right">
                        <button type="submit"
                                class="button button-paypal">
                            Order Now
                        </button>
                    </div>
                }
                      
            </div>
        </div>
    </form>
</section>
