@using FashionBrowser.Domain.ViewModels;
@using FashionBrowser.Utilities;
@using System.Security.Claims;
@model CheckoutItemViewModel;

@{
    var firstNameClaim = User.Claims.FirstOrDefault(x => x.Type == "firstName");
    var lastNameClaim = User.Claims.FirstOrDefault(x => x.Type == "lastName");
    var fullName = "Sir";
    if (User.Claims.FirstOrDefault(x => x.Type == "firstName") != null
       && User.Claims.FirstOrDefault(x => x.Type == "lastName") != null)
    {
        fullName = firstNameClaim.Value + " " + lastNameClaim.Value;
    }
}
<partial name="_Alert" />
<link href="~/css/tracking.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                @if (Model != null)
                {
                    <div class="text-left logo p-2 px-5">
                        <i class="bi bi-check-circle-fill"
                           style="font-weight:600; font-size:40px; color:green"></i>
                    </div>
                    <div class="invoice p-5">
                        <h5>Your order Confirmed! </h5>

                        <input asp-for="@Model.UserItemViewModel.Name" type="hidden" />
                        <span class="font-weight-bold d-block mt-4">Hello, @Model.UserItemViewModel.Name</span>
                        <span>You order has been confirmed and will be shipped in next two days!</span>

                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                            <table class="table table-borderless">

                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted" style="font-weight:700">Order Date</span>
                                                <span>@Model.OrderItem.OrderDate</span>

                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted" style="font-weight:700">Order No</span>
                                                <span>@Model.OrderItem.Id.ToString().Substring(0, 8)</span>

                                            </div>
                                        </td>
                                        <td>
                                            <div class="py-2">
                                                <span class="d-block text-muted" style="font-weight:700">Payment Method</span>
                                                 <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /> </span>                                           
                                            </div>
                                        </td>
                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted" style="font-weight:700">Payment Status</span>
                                                <span>@Model.OrderItem.IsPaidDisplay</span>
                                                @if (Model.OrderItem.IsPaid)
                                                {
                                                    <i class="bi bi-check-circle-fill"
                                                    style="font-weight:600; font-size:20px; color:green"></i>
                                                }
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">
                                                <span class="d-block text-muted" style="font-weight:700">Shiping Address</span>
                                                <span>@Model.OrderItem.ShipAddress</span>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <div class="card-body">
                                <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
                                    <div class="step completed">
                                        <div class="step-icon-wrap">
                                            <div class="step-icon"><i class="pe-7s-cart"></i></div>
                                        </div>
                                        <h4 class="step-title">Confirmed Order</h4>
                                    </div>
                                    <div class="step completed">
                                        <div class="step-icon-wrap">
                                            <div class="step-icon"><i class="pe-7s-config"></i></div>
                                        </div>
                                        <h4 class="step-title">Processing Order</h4>
                                    </div>
                                    <div class="step completed">
                                        <div class="step-icon-wrap">
                                            <div class="step-icon"><i class="pe-7s-medal"></i></div>
                                        </div>
                                        <h4 class="step-title">Quality Check</h4>
                                    </div>
                                    <div class="step">
                                        <div class="step-icon-wrap">
                                            <div class="step-icon"><i class="pe-7s-car"></i></div>
                                        </div>
                                        <h4 class="step-title">Product Dispatched</h4>
                                    </div>
                                    <div class="step">
                                        <div class="step-icon-wrap">
                                            <div class="step-icon"><i class="pe-7s-home"></i></div>
                                        </div>
                                        <h4 class="step-title">Product Delivered</h4>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="product border-bottom table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    @foreach (var cart in Model.CartViewModel.ListCartItem)
                                    {
                                        <tr>
                                            <td width="20%">

                                                <img src="@cart.Product.ImageUrl" width="90">

                                            </td>
                                            <td width="60%">
                                                <span class="font-weight-bold">@cart.Product.Name</span>
                                            </td>
                                            <td width="60%">
                                                <span class="font-weight-bold">@cart.Quantity</span>
                                            </td>
                                            <td width="20%">
                                                <div class="text-right">
                                                    <span class="font-weight-bold">@cart.Price.GetPriceFormat()</span>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <div class="row d-flex justify-content-end">
                            <div class="col-md-5">
                                <table class="table table-borderless">
                                    <tbody class="totals">
                                        <tr>
                                            <td>
                                                <div class="text-left">
                                                    <span class="text-muted">Total Product Price</span>
                                               </div>
                                            </td>
                                            <td>
                                                <div class="text-right">
                                                    <span>@Model.CartViewModel.Total.GetPriceFormat()</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="text-left">

                                                    <span class="text-muted">Discount</span>

                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-right">
                                                    <span class="text-success">1.1 %</span>
                                                </div>
                                            </td>
                                        </tr>
                                        @if (!Model.OrderItem.IsPaid)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Shipping Fee</span>

                                                    </div>
                                                </td>
                                                <td>

                                                    <div class="text-right">
                                                        <span>@SHIPPING_FEE.SHIPPING.GetPriceFormat()</span>
                                                    </div>     
                                                </td>
                                            </tr>
                                        }
                                        <tr class="border-top border-bottom">
                                            <td>
                                                <div class="text-left">

                                                    <span class="font-weight-bold">Total</span>

                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-right">
                                                    <span class="font-weight-bold">@Model.OrderItem.TotalPrice.GetPriceFormat()</span>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <p style="font-size:16px; font-weight:600">We will be sending shipping confirmation email when the item shipped successfully!</p>
                        <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                        <span>TONY ĐẶNG</span>
                    </div>
                }
                else
                {
                    <div class="text-left logo p-2 px-5">
                        <i class="bi bi-credit-card-2-back-fill" style="font-weight:600; font-size:40px;color:rgb(224, 95, 104)"></i>
                    </div>
                    <div class="invoice p-5">
                        <span class="font-weight-bold d-block mt-4">Hello, @fullName </span>
                        <p class="font-weight-bold mb-0">Your order may have been confirmed! Please check your email and order history</p>
                        <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                    </div>
                }
                <div class="d-flex justify-content-between footer p-3">

                    <span style="font-size:20px ; color:darkblue"><a href="/">Shop Now</a></span>
                    <span font-weight:300">@DateTime.Now.ToLongDateString()</span>
                </div>
            </div>
        </div>
    </div>
</div>
