@using FashionBrowser.Domain.ViewModels;
@using FashionBrowser.Utilities;
@model CartViewModel

@{
    ViewData["Title"] = "Cart";
    Layout = "_Layout";
}

<partial name="_Alert" />

<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shopping Cart</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                 @if (Model.ListCartItem.Count > 0)
                {
                    decimal totalPrice = 0;
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cartItem in Model.ListCartItem)
                            {
                                var price = cartItem.Quantity * cartItem.ProductItemViewModel.Price;
                                totalPrice += price;
                               <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="~/Product/@cartItem.ProductItemViewModel.ImagePath"
                                                 style="width:200px; height:200px" alt="">
                                        </div>
                                        <div class="media-body">
                                             <p>@cartItem.ProductItemViewModel.Name</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>@cartItem.ProductItemViewModel.DisplayPrice</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input id="sst" value="@cartItem.Quantity" title="Quantity:" class="input-text qty" min="1">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                        class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                        class="reduced items-count" type="button">
                                        <i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <h5>@price.GetPriceFormat()</h5>
                                </td>
                            </tr>
                            }
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>@totalPrice.GetPriceFormat()</h5>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td class="d-none-l">
                                </td>
                                <td class="">
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="#">Continue Shopping</a>
                                        <a class="primary-btn ml-2" href="#">Proceed to checkout</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="alert alert-primary" style="color:blue">SHOP CART EMPTY</p>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="@Url.Content("~/js/alertmodal.js")"></script>
}