@using FashionBrowser.Domain.ViewModels;
@using FashionBrowser.Utilities;
@model CartViewModel

@{
    ViewData["Title"] = "Cart";
    Layout = "_Layout";
}

<partial name="_Alert" />

<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1 style="color:#001489; font-size:50px">Shopping Cart</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb"> 
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" style="font-size:20px"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" style="font-size:20px" aria-current="page">Shopping Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/" class="link" style="color:#001489; font-weight:600">Home
            </a>
    </li>
    <li class="breadcrumb-item">Shopping Cart</li>
</ol>
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                @if (Model.ListCartItem.Count > 0)
                {
                    decimal totalPrice = 0;
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="padding-left:60px">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cartItem in Model.ListCartItem)
                            {
                                var price = cartItem.Quantity * cartItem.Product.Price;
                                totalPrice += price;
                               <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="@cartItem.Product.ImageUrl"
                                                 style="width:200px; height:200px" alt="">
                                        </div>
                                        <div class="media-body">
                                             <p style="font-size:16px; font-weight:600">@cartItem.Product.Name</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>@cartItem.Product.DisplayPrice</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                         <input type="hidden" id="cartitem-price-@cartItem.Product.Id"
                                                value="@cartItem.Product.Price" />
                                        <input id="sst-@cartItem.Product.Id" value="@cartItem.Quantity"
                                        title="Quantity:" class="input-text qty" min="1">

                                        <button class="increase items-count" type="button"
                                        data-value="@cartItem.Product.Id"
                                                value="@OPERATOR.ADDITION">
                                        <i class="lnr lnr-chevron-up"></i>
                                        </button>

                                        <button class="reduced items-count" type="button" data-value="@cartItem.Product.Id"
                                                value="@OPERATOR.SUBTRACT">
                                        <i class="lnr lnr-chevron-down"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <h5 id="item-price-@cartItem.Product.Id">@price.GetPriceFormat()</h5>
                                </td>
                                <td>
                                    <button
                                    type="button" class="btn btn-outline-primary"
                                    onclick="deleteCart('@cartItem.Product.Id')">
                                    <i class="icon-copy bi bi-trash-fill" style="cursor:pointer; font-size:25px"></i>
                                    </button>
                                </td>
                            </tr>
                            }
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5 id="total-price">@totalPrice.GetPriceFormat()</h5>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td class="d-none-l">
                                </td>
                                <td class="">
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="/">Continue Shopping</a>
                                        <a class="primary-btn ml-2" href="~/Checkout/Index">Proceed To Checkout</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <div style="text-align:center">
                        <img src="https://fptshop.com.vn/cart/Content/Desktop/images/empty-cart.png" alt="">
                    </div style="text-align:center">
                    <p style="color:#001489; font-size:20px; text-align:center ">
                        THERE ARE NO PRODUCTS IN YOUR CART !
                    </p>
                    <p class="cart-footer alert alert-primary" style="text-align:center; font-size:30px">
                        <a href="~/Home/Index" style="color:#001489; text-decoration:none; font-weight:500">BACK TO HOME</a>
                    </p>
                    <p class="cart-footer" style="text-align:center">
                        When you need help, please call 1800.1060 or 0768.515.122 (7h30 - 22h)
                    </p>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="@Url.Content("~/js/alertmodal.js")"></script>
}