@using FashionBrowser.Domain.ViewModels;
@using FashionBrowser.Utilities;
@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<partial name="_Alert" />

@await Html.PartialAsync("_Banner")
<link href="@Url.Content("~/css/home.css")" rel="stylesheet" />

<form asp-action= method="post"> 
<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Popular Item in the market</p>
            <h2>Trending <span class="section-intro__style">Product</span></h2>
        </div>
        <div class="row">           
            @if (!Model.IsSuccess)
            {
                <div class="main-container">
                   <div class="pd-ltr-20 xs-pd-20-10">
                   <div class="error-page d-flex align-items-center flex-wrap justify-content-center pd-20">
                   <div class="pd-10">
                    <div class="error-page-wrap text-center">                   
                        <h1>500</h1>
                        <h3>Error: 500 Internal Server Error</h3>
                        <p style="font-size:20px">
                            
                        </p>
                        <div class="pt-20 mx-auto max-width-200">
                            <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500"
                               class="btn btn-primary btn-block btn-lg">Check error by link</a>
                        </div>
                    
                        <div class="pt-20 mx-auto max-width-200">
                            <a href="~/Home/Index" class="btn btn-primary btn-block btn-lg">Back To Home</a>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
            }
            else
            {
                <input type="hidden" id="products__count" value="" />
                @foreach (var product in Model.ListProduct)
            {
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">

                            <input type="hidden" id="product__id-@product.Id" value="@product.Id" />

                            <a class="product-img" href="~/Product/Detail/@product.Id">

                                <input type="hidden" id="product__image-@product.Id" value="@product.ImageName" />
                                @if (product.QuantityInStock > 0)
                                {
                                    <img class="card-img" src="@product.ImageUrl" alt="">
                                }
                                else
                                {
                                    <img class="card-img" src="@product.ImageUrl" style="opacity:0.5" alt="">
                                }                                                       
                            </a>
                            <ul class="card-product__imgOverlay">                  
                                <li class="li-product">
                                    <button class="title-text" title="REVIEWS">
                                        <i class="ti-heart">

                                        </i>
                                    </button>
                                </li>                            
                                @if (product.QuantityInStock > 0)
                                {
                                    <li class="li-product">
                                        <button 
                                            class="title-text"
                                            title="ADD TO CART"
                                            onclick="addToCart('@product.Id', event)">
                                            <i class="bi bi-basket"></i>
                                        </button>
                                    </li>
                                }                              
                                <li class="li-product">
                                    <button
                                        class="title-text"
                                        title="DETAIL"
                                        type="submit"
                                        formaction="@Url.Action("Detail", "Product")"
                                        formmethod="post">
                                        <i class="bi bi-eye-fill"></i>
                                    </button>                                                   
                                </li>
                                <li>
                                    <div title="ADDED">
                                        <i class="bi bi-check-circle-fill"
                                        id="bi-fill-visibility-@product.Id"
                                        style="font-weight:600; font-size:20px; visibility:hidden" ></i>
                                    </div>  
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">

                            <input type="hidden" id="product__name-@product.Id" value="@product.Name" />

                            <h4 class="card-product__title"><a href="single-product.html">@product.Name</a></h4>

                            <input type="hidden" id="product__provider-@product.Id" value="@product.Provider" />

                            <p>Provider : @product.Provider</p>
                            @if (product.QuantityInStock == 0)
                            {
                               <p style="color:firebrick">OUT OF STOCK</p>
                            }
                            else
                            {
                               <input type="hidden" id="product__unitstock-@product.Id" value="@product.QuantityInStock" />

                               <p style="color:blue; font-weight:500">Quantity In Stock : @product.QuantityInStock</p>
                            }

                            <input type="hidden" id="product__displayprice-@product.Id" value="@product.Price.GetPriceFormat()" />

                            <p class="card-product__price">@product.Price.GetPriceFormat()</p>

                            <input type="hidden" id="product__description-@product.Id" value="@product.Description" />
                        </div>
                    </div>
                </div>
            }   
            }
           
        </div>
    </div>
</section>
</form>